video {
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: -1;
}

.hero-container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  object-fit: contain;
}
.beach-overlay {
  height: 80%;
  width: 80%;
  background-color: black;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
  /* object-fit: contain; */
  opacity: 0.8;
}

.beach-container {
  color: rgb(253, 253, 253);

  color: black;
  opacity: 1;
}

.beach-info {
  color: whitesmoke;
  opacity: 1;
}

.beach-img-container {
}

.beach-img {
  object-fit: cover;
}
